<h3>RSS Root Values <br></h3>

<%  @data = data_object %>

<% @data = @bak_data = @data['rss'] %>

<% if @data["channel"] && @data["channel"]["title"] %>
  Title: <%= @data["channel"]["title"] %> <br/>
<% end %>

<% if @data["channel"] && @data["channel"]["link"] %>
  Link: <%= @data["channel"]["link"] %> <br/>
<% end %>

<% if @data["channel"] && @data["channel"]["description"] %>
  Description: <%= @data["channel"]["description"] %> <br/>
<% end %>


<% if  @data["channel"]["item"].class.to_s == "Array" %>
  <h3>Items <br/></h3>
  <% @data["channel"]["item"].each do |data|  %>
  ---------------------------------------------------------<br/>
  <%= render :partial =>'itunes', :locals => {:data => data } %>
  <% end %>
<% else %>
  <h3>Item <br></h3>
  <%  data = @data["channel"]["item"] %>
   <%= render :partial =>'itunes', :locals => {:data => data } %>
<% end  %>


<h1>BODY: <br></h1>

<%= @bak_data.inspect %> <br/>