<h3>RSS Root Values <br></h3>

<% @data = @bak_data = @data['rss'] %>

Song title: <%= @data["channel"]["title"] %> <br/>
Link: <%= @data["channel"]["link"] %> <br/>
Description: <%= @data["channel"]["description"] %> <br/>



<% if  @data["channel"]["item"].class.to_s == "Array" %>
  <h3>Items <br></h3>
  <% @data["channel"]["item"].each do |data|  %>
    ---------------------------------------------------------<br/>
    Title: <%= data["title"] %>
    <% content1 = data["content"]%> <br/>
    <% if data && data["author"] %>
      Author: <%= data["author"] %> <br/>
    <% end  %>

    GUID: <%= data["guid"] %> <br/>

    <% if data && data["link"] %>
      Link: <%= data["link"] %> <br/>
    <% end  %>








    Description: <%= data["description"] %> <br/>
    Keywords: <%= data["keywords"] %> <br/>
    <% if content1.class.to_s == "Hash" %>
      Content URL:<%= content1["url"] %> <br/>
    <% end  %>
    <% if content1.class.to_s == "Array" %>
      Content URL:<%= content1.first["url"]  %> <br/>
    <% end  %>


  <% end %>
<% else %>

  <h3>Item <br></h3>
  <%  data = @data["channel"]["item"] %>
    <%  content1 = data["content"]%> <br/>
  Title: <%= data["title"] %> <br/>
  Description: <%= data["description"] %> <br/>
  GUID: <%= data["guid"] %> <br/>
  Author: <%= data["author"] %> <br/>
  Subtitle: <%= data["subtitle"] %> <br/>
  Keywords: <%= data["keywords"] %> <br/>
  <% if content1.class.to_s == "Hash" %>
    Content URL:<%= content1["url"] %> <br/>
  <% end  %>
  <% if content1.class.to_s == "Array" %>
    Content URL:<%= content1.first["url"]  %> <br/>
  <% end  %>





<% end  %>





<h1>BODY: <br></h1>

<%= @bak_data.inspect %> <br/>






