<h3>RSS Root Values <br></h3>

<% @data = @bak_data = @data['rss'] %>

Song title: <%= @data["channel"]["title"] %> <br/>
Link: <%= @data["channel"]["link"] %> <br/>
Description: <%= @data["channel"]["description"] %> <br/>

<% @data["channel"]["item"].each do |data|  %>
    Title: <%= data["title"] %> <br/>
    GUID: <%= data["guid"] %> <br/>
    URL: <%= data["enclosure"]["url"] %> <br/>
    Subtitle <%= data["subtitle"] %> <br/>
    Duration: <%= data["duration"] %> <br/>
    PubDate: <%= data["pubDate"] %> <br/>
<br/>
<% end %>





<h1>BODY: <br></h1>

<%= @bak_data.inspect %> <br/>
